//colors
$primary: #2196F3;
$primary--active: #1E88E5;
$header-text-color: white;
$red: #F24E1E;
$red--active: #FF3A00;

//shadows
$box-shadow--card: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
